body {
    font-family: Copperplate, Papyrus;
    font-size: large;
    background-color: lemonchiffon;
    padding: 10px 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: brown;
    font-weight: bolder;
}

ul li {
    list-style: square;
    color: darkgreen;
}

ul.homepage {
    display: flex;
    gap: 300px;
}

ul.homepage li {
    flex: 1;
    list-style-type: none;
    background-color: goldenrod;
    text-align: center;
    font-size: larger;
}

ul.homepage li a {
    text-decoration: none;
}